GNU_MAKE/objs
GNU_MAKE/OUTPUT
GNU_MAKE/run_env
GNU_MAKE/run_env/*
GNU_MAKE/run_env/quake*
GNU_MAKE/run_env/id1/config.cfg
MCU_src/Debug/Drivers
MCU_src/Debug/Core
MCU_src/Debug/Middlewares
*.o
*.d
*.elf
*.exe
*.list
*.map
GNU_MAKE/run_env/testSDL2
